<!DOCTYPE html>
<html>
<head>
	<meta content = "text.html; charset = UFT-8" http-equiv="Content-Type" />
</head>
 <body>
	<h1>Welcome to Dress Rental, <%= @customer.name %></h1>
	<p> Thank you for registering</p>
	<p>You can now rent dresses and post reviews!</p>
 </body>
</html>
